@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: calc(2vw + 1vh);
}

.game-container {
    display: none;
    width: min(40vh,80vw);
    height: min(40vh,80vw);
    margin: 20vh auto;
    border: solid black 1px;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
}

.square {
    border: solid grey 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.square[onclick]:hover {
    box-shadow: 0 0 10px grey inset;
    cursor: pointer;
}