@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body,html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    font-size: calc(2vw + 1vh);
}

.container {
    display: none;
    margin: 10vh auto;
    align-items: center;
    justify-content: center;
}

.restart {
    border: none;
    background-color: #38bdf8;
    color: white;
    font-weight: bold;
    padding: 1vw 2vw;
    cursor: pointer;
    border-radius: 1vw;
    font-size: max(15px,0.5rem);
}

.turn-info{
    text-align: center;
    margin: 2vh 0;
    font-size: max(18px,1.2rem);
}

.board {
    display: grid;
    width: min(40vh,80vw);
    height: min(40vh,80vw);
    border: solid black 1px;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    justify-self: center;
}

.square {
    border: solid grey 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 1.5rem;
}

.square[data-index]:hover {
    box-shadow: 0 0 10px grey inset;
    cursor: pointer;
}